@import '../../styles/variables.scss';

.collapseContainer {
    margin: 0 20px 20px 20px;
    border-radius: 5px;
    background-color: $LightGrey;
    color: #fff;
    flex-direction: column;
    justify-content: center;
    position: relative;
    cursor: pointer;
    max-height: 500px;
    height: fit-content;
    transition: max-height 0.3s ease-in-out;

    &.collapsed {
        max-height: 36px;
    } 

    img {
        position: absolute;
        width: 25px;
        top: 5px;
        right: 10px;
        align-self: flex-end;
        rotate: 180deg;
    }

    h3 {
        position: absolute;
        top: 0;
        width: 100%;
        background-color: $Primary;
        border-radius: 5px;
        padding: 10px;
    }

    div {
        margin-top: 36px;
        color: #282828;

        p {
            padding: 15px;
        }
    }
}

.collapsed {
    div {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
    }

    img {
        rotate: 180deg;
        transition: rotate 0.3s cubic-bezier(0.65, 0, 0.35, 1);
    }
}

.expanded {
    div {
        max-height: 500px;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
    }

    img {
        rotate: 0deg;
        transition: rotate 0.3s cubic-bezier(0.65, 0, 0.35, 1);
    }
}