@import './variables.scss';

h1, p {
    color: $Primary;
    margin: 0 20px 0 20px;
}

h1 {
    font-weight: 200;
    font-size: 18px;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.lgmtTags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0 20px 0 20px;

    .lgmtTag {
        background-color: $Primary;
        padding: 0 20px 2px 20px;
        border-radius: 5px;
        width: fit-content;
    
        p {
            color: #fff;
            font-size: 10px;
            margin: 0;
            display: inline;
        }
    }
}

