@import './variables.scss';

.mainContainer {

    flex-direction: column;

    @media screen and (min-width: $md-breakpoint) {
        flex-direction: row;
    }

    h1, p {
        color: $Primary;
        margin: 0 20px 0 20px;
    }
    
    h1 {
        font-weight: 200;
        font-size: 18px;
    }
    
    p {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .hostScale {
        margin-right: 20px;
        justify-content: space-between;

        @media screen and (min-width: $md-breakpoint) {
            flex-direction: column-reverse;
            align-items: flex-end;
            width: 33.333%;
        }
    }

    .propertyInfos {
        @media screen and (min-width: $md-breakpoint) {
            width: 66.666%;
        }
    }
}



.lgmtTags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0 20px 0 20px;

    .lgmtTag {
        background-color: $Primary;
        padding: 0 20px 2px 20px;
        border-radius: 5px;
        width: fit-content;
    
        p {
            color: #fff;
            font-size: 10px;
            margin: 0;
            display: inline;
        }
    }
}

