.lgmtThumbnail {
    height: 255px;
    padding: 20px;
    margin: 0 20px 20px 20px;
    border-radius: 15px;
    align-items: flex-end;
    background-size: cover;
    /* -webkit-box-shadow: inset 0px -50px 13px -15px rgba(0,0,0,0.4); */ 
    box-shadow: inset 0px -100px 15px -15px rgba(0,0,0,0.4);

    p {
        max-width: 100px;
        color: #fff;
    }
}