@import '../../styles/variables.scss';

* {
    margin: 0;
    box-sizing: border-box;
    font-size: 12px;
}

:global(.flx) {
    display: flex;
}

body {
    background-color: #fff;
    min-height: 100vh;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;

    main {
        min-height: 100vh;
    }
}

a {
    text-decoration: none;
    color: $Primary;
    text-transform: uppercase;

    &:global(.active) {
        text-decoration: underline;
    }

    @media screen and (min-width: $md-breakpoint) {
        text-transform: capitalize;
    }
}

.header {
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.footer {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 20px;
    margin-top: 20px;
    background-color: #000;
    height: 200px;
    position: sticky;
    top: 100%;

    & p {
        padding: 10px 0;
        text-align: center;
        color: #fff;
        max-width: 100px;

        @media screen and (min-width: $md-breakpoint) {
            max-width: unset;
        }
    }
}

.nav {
    gap: 10px;
}




