.hostContainer {
    align-items: center;

    .textRight {
        text-align: right;
        margin: 0;
    }

    img {
        border-radius: 100%;
        width: 40px;
        margin-left: 10px;
    }   
}